* {
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
}

html {
    background-color: rgb(64, 64, 80);
}

img {
    width: 100%;
    border-radius: 10px;
    border-color: rgb(252,205,125);
    border-style: double;
    opacity: 80%;
}

.hero-image{
    background-image: url("./JellyIMAGES/headerjelly3.jpg");
    height: 208px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border-style: double;
    border-color: rgb(252,205,125);
}

.hero-text{
    color:whitesmoke;
    position: absoulte;
    text-align: center;
    top: 108px;
    width: 100%;
    font-size: 2rem;
}

.two-column {
    color:azure;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 50px;
    width: 80;
    margin: auto;
    margin-top: 40px;
}

.info{
    font-size: 1.25em;
}

.three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    float: none;
    object-fit: cover;
}
.card {
    background-color: rgb(255, 223, 164);
    border-color: rgb(255, 230, 188);
    border-style: inset;
}

.card-text {
    text-align: center;
    color: whitesmoke;
}

p {
    border-color: rgb(242, 214, 159);
    border-style:outset;
}

h1 {
    border-color: rgb(173, 187, 187);
    border-style: inset;
    background-color:rgb(189, 203, 203);
}